.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid var(--border);
  height: var(--header-h);
  position: sticky;
  top: 0;          
  z-index: 2;        
  background: var(--neutral-0);
}