.calendar-page {
    padding: 30px 35px;
    padding-bottom: 0;
}

.calendar-wrapper {
  height: calc(100vh - 20vh);
  padding: 20px;
  background: var(--neutral-0);
  border-radius: 12px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  font-family: inherit;
  color: var(--color-text);
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem 0.5rem;
  margin-bottom: 20px;
}

.btn-group {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.tool-button {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid var(--neutral-200);
  background: transparent;
  font-size: .9rem;
  font-family: inherit;
  color: var(--neutral-600);
  cursor: pointer;
  transition: all 0.2s ease;
}

.tool-button:hover {
  background-color: var(--color-primary-bg);
  border-color: var(--color-primary-light);
  color: var(--color-primary);
  transform: translateY(-1px);
}

.tool-button:active {
  background-color: var(--color-light-orange);
  border-color: var(--color-primary);
  transform: translateY(0);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
}

.tool-button.arrow {
  height: 32px;
  width: 32px;
}

.tool-button.text {
  padding: 0 12px;
  font-weight: 510;
  width: 65px;
}

.selected-view {
  background-color: var(--color-primary-bg);
  border-color: var(--color-primary-light);
  color: var(--color-primary);
}

.new-event-button {
  height: 32px;
  display: flex;
  justify-content: space-between;  
  align-items: center;    
  position: relative;
  min-width: 130px;
  padding: 0.1rem .8rem;
  background: transparent;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  border-radius: 6px;
  border: 1px solid var(--color-primary-light);
  background-color: var(--neutral-0);
  color: var(--color-primary);
  font-weight: 600;
  font-size: .9rem;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  margin-left: 16px;
}

.new-event-button:hover {
  background-color: var(--color-primary-bg);
  border-color: var(--color-primary);
  color: var(--color-primary);
  box-shadow: 0 3px 6px rgba(242, 88, 27, 0.15);
  transform: translateY(-1px);
}

.new-event-button:active {
  background-color: var(--color-primary);
  color: white;
  border-color: var(--color-primary);
  transform: translateY(0);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
  position: fixed;
  inset: 0; 
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1000;
  backdrop-filter: blur(3px); /*do we like? */
}

.modal {
  background: white;
  padding: 0 1.5rem 0 1.5rem;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 65%;
  height: auto;
  max-height: 93%;
  overflow: scroll;
}

.exit-prompt-overlay {
  position: fixed;
  inset: 0; 
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1000;
}

.exit-prompt {
  background: white;
  padding: 0 1.5rem 0 1.5rem;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 20%;
  height: auto;
  max-height: 93%;
  overflow: scroll;
}

.exit-prompt .button-group {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 1.5rem 0;

}

.prompt-btn {
  padding: 0.4rem 1rem;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-primary-light);
  background-color: var(--neutral-0);
  color: var(--color-primary);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  transition: all 0.2s ease;
}

.exit-prompt .edit {
  border: 1px solid var(--neutral-200);
  background: transparent;
  color: var(--neutral-600);
}

.exit-prompt .edit:hover {
  background-color: var(--neutral-300);
  border-color: var(--neutral-600);
  color: var(--neutral-600);
  transform: translateY(-1px);
}

.exit-prompt .edit:active {
  background-color: var(--neutral-250);
  border-color: var(--neutral-600);
  transform: translateY(0);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
}

.exit-prompt .exit {
  border: 1px solid var(--color-red);
  background: transparent;
  color: var(--color-red);
}

.exit-prompt .exit:hover {
  background-color: var(--color-light-red);
  border-color: var(--color-red);
  color: var(--color-red);
  transform: translateY(-1px);
}

.exit-prompt .exit:active {
  background-color: var(--color-light-red);
  border-color: var(--color-danger);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.15);
}
